# 目標

 - 単純なデミリタ(区切り文字)付きデータファイルをロードする
 - ロードした列や行の数を調べる
 - ロードしたデータの型を判定する
 - 行や列の絞り込みによって、データの各部を見る

## インポート

In [10]:
import pandas as pd

## データセットの取得
今回は、Gapminderデータセットを使用する(www.gapminder.org)  
リポジトリ : www.github.com/jennybc/gapminder
今回使用するデータのリンク : https://github.com/chendaniely/pandas_for_everyone/blob/master/data/gapminder.tsv

In [11]:
df = pd.read_csv('/content/drive/MyDrive/研究室/自習/pandas ライブラリ活用入門/my_project/data/gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [34]:
# DataFrameに入っているのか確認
print(f"type(df)={type(df)}")

# 行と列の個数を取る
print(f"df.shape=\n{df.shape}\n")

# 列の名前を見る
print(f"df.columns=\n{df.columns}\n")

# 各列の型を見る
print(f"df.dtypes=\n{df.dtypes}\n")

# データの詳しい情報を見る
print(f"df.info()=\n{df.info()}\n")

type(df)=<class 'pandas.core.frame.DataFrame'>
df.shape=
(1704, 6)

df.columns=
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

df.dtypes=
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
df.info()=
None

## 列、行、セルを見る
printで出力することができるが、データが膨大すぎて難しい
⇒部分的にデータの様々な部分集合を調べるのが最良

## 列を絞り込む

In [35]:
# countryの列だけ取り出す
country_df = df['country']

# 最初の5行を表示
print(f"country_df.head()=\n{country_df.head()}\n")

# 最後の5個を表示
print(f"country_df.tail()=\n{country_df.tail()}\n")

country_df.head()=
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

country_df.tail()=
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [36]:
# countryとcontinentとyearのデータを見る
subset = df[['country','continent','year']]

print(f"subset.head()=\n{subset.head()}\n")

print(f"subset.tail()=\n{subset.tail()}\n")

subset.head()=
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

subset.tail()=
       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

## 行を絞り込む